{% extends 'base.html.twig' %}

{% block title %}Nouveau compte client{% endblock %}

{% block body %}
    <h1>Créer un nouveau compte client</h1>

    {{ form_start(form) }}
    {{ form_row(form.login) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    <button type="submit" class="btn btn-primary">Créer le compte</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}

